.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 8vh;

}

.header-left {
  display: flex;
  align-items: center;
  background-color: #b3dbff;
  padding: 8px 20px;
  border-radius: 0 100px 0 0;
  color: #000;
  min-width: 30vh;
  height: 100%;
}

.header-left span {
  font-family: 'Playball', cursive;
  font-size: 30px;
}

.header-center h2 {
  float: left;
  color: #225c7f;
  font-weight: 600;
}

.header-right {
  display: flex;
  gap: 12px;
  margin-right: 40px;
}

.header-action-btn {
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

}


.header-action-btn:hover {
  background-color: #ddd;
}