.sidebar {
  background: linear-gradient(to bottom, #b3dbff, #fff);
  padding: 20px;
  border-right: 1px solid #ddd;
  min-height: 100vh;
  max-width: 26vh;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #fff;
  transform: scale(1);
}

.sidebar-item .icon {
  margin-right: 12px;
  font-size: 15px;
}

.form-content {
  /* background-color: #fff; */
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .sidebar {
    width: 20vh;
    font-size: 12px;
    padding: 10px;
  }

  .form-content {
    padding: 30px;
  }
}

@media (min-width: 768px) {
  .sidebar-item:hover {
    transform: scale(1.05);
    background-color: #fff;
  }

  .sidebar-item:active {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 72px;
  }

  .sidebar-item {
    justify-content: center;
    padding: 12px 0;
  }

  .sidebar-item .icon {
    margin-right: 0;
    font-size: 20px;
  }

  .sidebar-item .icon:hover {
    transform: scale(1.5);
  }

  .sidebar-item span:not(.icon) {
    display: none;
  }
}