.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.Head {
  width: 100%;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cat-icon {
  width: 80px;
  height: auto;
  justify-content: center;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-submit {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-back {
  background-color: transparent;
  color: #555;
}

.modal-submit {
  background-color: #2563eb;
  color: white;
}


.modal-back,
.close-button {
  background: none;
  border: none;
  color: #555;
  margin-top: 10px;
  cursor: pointer;
  float: right;
  text-align: end;
  font-size: 20px;
}

.modal-overlay .modal-content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.modal-overlay .modal-content p {
  font-size: 14px;
}